<center>
<h1>Currency Converter</h1>
<h2>Notice, it is working with Free Plan</h2>
    <ul><li>
		To change the Base is restricted. Sorry about it!
    </li></ul>
    <ul><li>
		To call Convert API is restricted too! We need calculate it.
    </li></ul>
</p>
</br>
<form method = 'POST'>
	<div>
		<label for = 'amount'>Amount: </label>
		<input type = 'text' name = 'amount' /> 
		<label> EUR to </label>
		<select name = 'convert_to'>
			<option value="USD">USD</option>
			<option value="AUD">AUD</option>
			<option value="CAD">CAD</option>
			<option value="PLN">PLN</option>
		</select>		
		<input type = 'submit' /> 
	</div>
	<p>( No error check is implemented. Please, enter integer or float! )</p>
</form>
</center>
